<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<form th:object="${person}" th:action="@{/people/edit}" th:method="POST">
    <input type="hidden" th:value="*{id}" th:field="*{id}" >
    <label for="name">ФИО:</label>
    <input type="text" id="name" class="vertical-separator" placeholder="Введите ФИО" th:field="*{fullName}"/>
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Err</div>
    <br/>
    <label for="birth_year">Год рождения:</label>
    <input type="text" id="birth_year" placeholder="Введите Год рождения" th:field="*{yearOfBirth}"/>
    <br/>
    <input type="submit" value="Сохранить"/>
</form>
</body>
</html>